body {
  background-image: url(../pictures/paper-textured.jpg);
}

#wrapper {
  display: grid;
  justify-content: center;
  font-family: Qahiri;
}

h1 {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 15vw;
  margin: 0 auto;
}

#playerbuttons {
  display: flex;
  justify-content: center;
  height: auto;
}

#rock {
  height: auto;
  width: 25%;
}
#paper {
  height: auto;
  width: 25%;
}

#scissors {
  height: auto;
  width: 25%;
}

.results-box {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  font-size: 4vw;
}

.scores {
  display: flex;
  justify-content: space-evenly;
}

#reset {
  margin: auto;
}

#reset-button {
  background-color: transparent;
  font-size: 2rem;
}

#message {
  margin: 1rem auto;
}
