body {
  background-image: url(../pictures/paper-textured.jpg);
}

#wrapper {
  display: grid;
  justify-content: center;
  font-family: Qahiri;
}

h1 {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 5rem;
}

#rock {
  transform: translateY(1.5rem);
  width: auto;
  height: 13rem;
}
#paper {
  width: auto;
  height: 10rem;
}

#scissors {
  width: auto;
  height: 9rem;
}

.results-box {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  font-size: 2rem;
}

.scores {
  display: flex;
  justify-content: space-evenly;
}

#reset {
  margin: auto;
}

#reset-button {
  background-color: transparent;
  font-size: 2rem;
}

#message {
  margin: 1rem auto;
}
